*
{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.container
{
    max-width: 900px;
    margin: 0 auto;
}
body
{
    background-color: white;
}
.content
{
    max-width: 600px;
    padding: 20px;
    background-image: linear-gradient(to right,#9796F0,#FBC7D4);
    margin: auto;
    margin-top: 50px;
    box-shadow: 4px 3px 8px  rgba(8, 2, 2, 0.1);
    border-radius: 10px;

}
.form_container
{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_controll
{
    display: flex;
    flex-direction: column;
}
label
{
    font-size: 15px;
    margin-bottom: 5px;
}
input,select,textarea
{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    
}
.button_container
{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button
{
    background-color: #9796F0;
    border: solid transparent 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}
button:hover
{
    background-color: #ccc;
    border: 2px rgb(204, 32, 32);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control
{
    grid-column: 1 / span 2;
}

.textarea_control textarea
{
    width: 100%;
}

@media(max-width: 460px)
{
    .textarea_control
    {
        grid-column: 1 / span 1;
    }
}